main{

  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.container{
  width: 90vh;
  margin: 5rem auto;
  background-color: rgb(240, 240, 240);
  border-radius: 0.25rem;
  padding: 2rem 2rem;
  max-width: 30rem;
  transition: 0.3s ;
  

  
}

#light{

  background-color: #ffffff;
  transition: 0.3s ;
  
  
}

#dark{

  background-color: rgb(41, 41, 46);
  color: #e9e6ed;
  transition: 0.3s;
 
  
}

#dark div.container{

  background-color: rgb(23, 23, 26);
  transition: 0.3s ;
  

}

.btn{
  background: transparent;
  border: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(213, 130, 238);
  border-radius: 50%;
  background: #e9e6ed;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.switch{

  max-width: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.head-control{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

Switch{
  align-items: center;
  justify-content: center;
 
}

.content{


  color: rgb(77, 16, 126);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
  
  max-height: 9999;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
 
  
}

#dark article.content{
  background-color: rgb(41, 41, 46);
  
  box-shadow: #e9e6ed;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.589);
  color: rgb(218, 212, 203);
  
}

div.show{

  
  height: auto;
  max-height: 9999px;
  overflow: hidden;
  transition:  0.3s cubic-bezier(1,0,1,0);
 

}

div.hide{


  
  max-height: 0;
  overflow: hidden;
  transition:  0.3s cubic-bezier(0,1,0,1);

}



header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}